{% extends "base.html" %}
{% load fontawesome %}

{% block page_title %}Galactic Radio Telescope - Training Directory{% endblock %}
{% block content %}
<style type="text/css">
.card {
    border: 1px solid #aaaaaa;
    padding: 0px;
    margin: 1em;
    min-height: 15em;
    max-height: 15em;
    position: relative;
}
.card .card-title{
    width: 100%;
    background: #18bc9c;
    color: white;
    margin: 0px;
    padding: .9em;
}

.card-title h3{
    margin: 0px;
}

.card-content{
    padding: 1em;
    text-overflow: ellipsis;

}

.card-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5em;
    background: #eeeeee;
}
</style>

<div class="container">
    <h1>Galaxy Trainer Directory</h1>
    <div class="row">
    {% for user in object_list %}
        {{ user }}
    {% endfor %}
    </div>
</div>
{% endblock %}
