{% extends "_layouts/base.html" %}

{% block css %}
{{block.super}}
{% endblock css %}

{% block page_title %}Galaxy Radio Telescope - Instance{% endblock %}
{% block page_class %}instance-page{% endblock %}
{% block content %}
<div class="container">
    <h1>Galaxy Server</h1>
    {% if object.public %}

        <table class="table table-striped">
            <tbody>
                <tr><td>Name</td><td>{{ object.humanname }}</td></tr>
                <tr><td>Description</td><td>{{ object.description}}</td></tr>
                <tr><td>URL</td><td><a href="{{ object.dnsdomainname }}">{{object.dnsdomainname}}</a></td></tr>
                <tr><td>Users - Recent</td><td>{{ object.users_recent }}</td></tr>
                <tr><td>Users - Active</td><td>{{ object.users_active }}</td></tr>
                <tr><td>Users - Total</td><td>{{ object.users_total }}</td></tr>
                <tr><td>Jobs Run</td><td>{{ object.jobs_run }}</td></tr>
            </tbody>
        </table>
    {% else %}
        <p>This Galaxy instance has elected to keep their data private</p>
    {% endif %}
</div>
{% endblock %}
