{% extends "_layouts/base.html" %}

{% block css %}
{{block.super}}
{% endblock css %}

{% block page_title %}Galaxy Radio Telescope - About{% endblock %}
{% block page_class %}home-page{% endblock %}

{% load nvd3_tags %}
{% block header_extra %}
    {% load_chart usertype userdata "user_stats" %}
    {% load_chart computetype computedata "compute_stats" %}
    {% load_chart storagetype storagedata "storage_stats" %}
{% endblock header_extra %}

{% block content %}

<div class="container">

    <h1>User Statistics</h1>
    {% include_container "user_stats" 400 600 %}

    <h1>Compute Backends</h1>
    {% include_container "compute_stats" 400 600 %}

    <h1>Galaxy Storage</h1>
    {% include_container "storage_stats" 400 600 %}

</div>
{% endblock %}
