{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Galactic Radio Telescope</h1>
		<p>This project aims to:</p>
		<ul>
			<li>Register Galaxies across the universe, enabling users to find a Galaxy and a training resources near to them</li>
			<li>Provide a global tool index and search, connecting users and their research data with a Galaxy that can help them</li>
			<li>Collect aggregate metrics from Galaxy servers for statistical analysis and optimisation of all Galaxies</li>
		</ul>
		<p>
			Please note that this page is ONLY for registering and editing your Galaxy instance.
		</p>
		{%if request.user.is_authenticated %}
		<p><a class="btn btn-primary btn-lg" role="button" href="{% url 'owned-galaxy-instance-list' %}">Manage Galaxies »</a></p>
		{% else %}
						<li><a href="{% url 'auth_login' %}?next=/grt/">Login »</a></li>
		<p><a class="btn btn-primary btn-lg" role="button" href="{% url 'registration_register' %}?next=/grt/">Register »</a></p>
		{% endif %}
	</div>
</div>
{% endblock %}
