{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Galactic Radio Telescope</h1>
		<p>
			This project aims to collect aggregate metrics from Galaxy servers for statistical analysis and optimisation of all Galaxies
		</p>
		<p>
			Please note that this page is ONLY for registering and editing your Galaxy instance.
		</p>
		{%if request.user.is_authenticated %}
		<a class="btn btn-primary btn-lg" role="button" href="{% url 'galaxy-instance-list' %}">Manage Galaxies »</a>
		{% else %}
		<a class="btn btn-primary btn-lg" role="button" href="{% url 'auth_login' %}?next=/{{ URL_PREFIX }}">{% trans 'Log in' %} »</a>
		<a class="btn btn-primary btn-lg" role="button" href="{% url 'registration_register' %}?next=/{{ URL_PREFIX }}">Register »</a>
		{% endif %}
	</div>
</div>
{% endblock %}
