{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div>
	<h1>Galactic Radio Telescope (GRT) Privacy Policy</h1>
	<p>
	This privacy policy has been compiled to better serve those who are
	concerned with how their 'Personally Identifiable Information' (PII) is
	being used online. PII, as described in US privacy law and information
	security, is information that can be used on its own or with other
	information to identify, contact, or locate a single person, or to identify
	an individual in context. Please read our privacy policy carefully to get a
	clear understanding of how we collect, use, protect or otherwise handle
	your Personally Identifiable Information in accordance with our website.
	</p>

	<h2>What personal information do we collect from the people that visit our blog, website or app?</h2>
	<p>When accessing data on our site, you will not be asked for information. When registering for an account, you may be asked to enter your email address or other details to help you with your experience.</p>

	<h2>When do we collect information?</h2>
	<p>We collect information from you when you register on our site or enter information on our site, or when you submit data to our site via the API.</p>

	<h2>How do we use your information? </h2>
	<p> We may use the information we collect from you when you register or use certain other site features in the following ways:</p>

	<p>
		<ul>
			<li>To send periodic emails regarding your order or other products and services.</li>
		</ul>
	</p>

	<h2>How do we protect your information?</h2>
	<p>
		<ul>
			<li>We only provide articles and information.</li>
			<li>We never ask for credit card numbers.</li>
			<li>Non-account data (i.e. server logs) that you submit to GRT is public domain.</li>
		</ul>
	</p>

	<p>Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all information you supply is encrypted via Secure Socket Layer (SSL) technology.</p>

	<h2>Do we use 'cookies'?</h2>
	<p>Yes. You can use most of the system's functionality without cookies. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. </p>

	<p>We use cookies to:
		<ul>
			<li>Permit logging into accounts and managing account data.</li>
		</ul>
	</p>

	<p>If users disable cookies in their browser:</p>

	<p>If you turn cookies off, some of the features that make your site experience more efficient and may not function properly.</p>

	<h2>Third-party disclosure</h2>
	<p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.</p>

	<h2>Third-party links</h2>
	<p>We do not include or offer third-party products or services on our website.</p>
	<p>We have not enabled Google AdSense on our site and will not do so in the future.</p>


	<p>You will be notified of any Privacy Policy changes on this page.</p>

	<p><strong>How does our site handle Do Not Track signals?</strong></p>

	<p>We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.</p>

	<p><strong>Does our site allow third-party behavioral tracking?</strong></p>
	<p>We do not allow third-party behavioral tracking.</p>

	<h2>Contacting Us</h2>
	<p>If there are any questions regarding this privacy policy, you may contact us using the information below.</p>

	<p>
		<a href="mailto:hxr+grt@informatik.uni-freiburg.de">E. Rasche &lt;hxr@informatik.uni-freiburg.de&gt;</a>
	</p>

	<p>Last Edited on 2017-08-15</o>
</div>
{% endblock %}
